<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Desi Baazaar</title>
</head>
<style>
    body{
        background-color: #272525;
    }
</style>
<body>
    <div class="container">
        <div class="heros">
            <section class="hero">
                {%include 'navbar/index.html'%}
                <div class="hero-content">
                    <h1>Desi Baazaar</h1>
                    <p>Bharat ka apan Baazaar</p>
                    <button href="#" class="start">
                        Get Started →
                    </button>
                </div>
            </section>
        </div>

        <!-- <div class="feature">
            <div class="firstbox">
                <center>
                    <img src="/static/img/icon/money-graph-with-up-arrow.png" alt="" height="38">
                </center>
                <Link class="link" href="/components/notes">
                    <h3>Stocks</h3>
                </Link>
                <p>Start Investing</p>
            </div>
            <div class="secondbox">
                <center>
                    <img src="/static/img/icon/bonds.png" alt="" height="38">
                </center>
                <Link class="link" href="/components/college">
                    <h3>Bonds</h3>
                </Link>
                <p>Secure Your Portfolio</p>
            </div>
            <div class="thirdbox">
                <center>
                    <img src="/static/img/icon/insurance.png" alt="" height="38">
                </center>
                <Link class="link" href="/components/collegefinderai">
                    <h3>Insurance</h3>
                </Link>
                <p>Protect Your Assets</p>
            </div>
        </div> -->
    </div>
 
</body>
</html>